.navbar2{
    height:100px;
    width:100%;
}
.navbar1{
    display:flex;
    flex-direction:row;
    gap:300px;
    background-color:rgb(53, 53, 53);
    box-shadow:1px 1px 2px 2px rgb(245, 245, 245);
    height:70px;
    color:white;
    position:fixed;
    width:100%;
}
   .navbar nav {
    display:flex;
    flex-direction:row;
    gap:30px;
    /* background-color:rgb(255, 255, 255); */
    color:rgb(255, 255, 255);
    /* box-shadow: 1px 1px 2px 2px  rgb(155, 155, 154); */
    cursor:pointer;
    margin-left:30px;
    justify-content: flex-start;
    align-content: center;
    text-decoration:none;
}
 .nav-link{
    padding-top:1.3em;
    transition: all 0.3s ease;
    text-decoration: none;
    color:rgb(230, 9, 9);
}
.active-link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding-top:1.3em;
}

.navbar .sbtn.active{
    border-bottom:1px solid red;
}
.favmes{
    display:flex;
    flex-direction:row;
    gap:50px;
    
    font-size:16px;
    cursor:pointer;
}
.favmes button{
    border:none;
    background:none;
    margin:0;
    padding:0;
}
/* filter */
.options{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin:10px 25px;
    
}
.searchbtn{
    background-color:rgb(226, 3, 96);
    border:none;
    width:100px;
    border-radius:5px;
    color:white;
    display:flex;
    align-items:center;
    
}
.searchbtn:hover{
    background-color:rgb(241, 3, 102);
}
/* .selecttype{
    display:flex;
    gap:2px;
} */
.savesearch{
    display:flex;
    flex-direction:row;
    margin-top:7px;
}
.sidebar{
    width:300px;
    box-shadow: 1px 1px 1px 1px  rgb(151, 151, 151);
    margin-left:22px;
    height:400px;
}
.propertytype{
    margin-top:10px;
    margin-left:15px;
}
.ptype{
    display:flex;
    flex-direction:row;
    gap:50px;
}
.type{
    margin-left:15px;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.sideandmap{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.Provdash nav{
    display:flex;
    flex-direction:column;
    text-decoration:none;
}
.Provdash{
    background-color:rgb(59, 59, 59);
    width:10rem;
    height:35.3em;
    color:rgb(34, 33, 33);
}
.prov{
    color: rgb(248, 244, 244);
    height:24px;
    text-decoration: none;
    padding:2.5em 3em;
    width:7em;
    transition: all 0.3s ease;
    
}
.Provider{
    display:flex;
    flex-direction:row;
    gap:2em;
}
.navigate{
    display:flex;
    flex-direction:row;
    gap:2em;
}
.Property-form{
    display:grid;
    grid-template-columns:repeat(2,300px);
    padding:3px;
    border-radius:5px;
    margin-top:40px;
    gap:8px;
    height:500px;
    background-color:rgb(34, 33, 33);
}
.form-group{
    display:flex;
    flex-direction:column;
    padding:0 2px;
}
.form-group input,
.form-group select{
    height:40px;
    border:1px solid #ddd;
    border-radius:4px;
    font-size:15px;
    padding:0 5px;
}
.full-width{
    grid-column:1 / 3;
}
.text{
    resize:none;
    padding:2px 5px;
}
.imageSession{
    width:20rem;
    height:300px;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-size: 14px;
    border-radius:5px;
}
.uploadBtn{
    border:none;
    width:100px;
    height:30px;
    background:#e32a71;
    color:white;
    text-align:center;
    border-radius:5px;
}
.submit{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:15px;
    grid-column: 2/3;
}
.submit1{
    width:100px;
    height:34px;
    background-color:rgb(50, 50, 235);
    color:white;
    font-weight:bold;
    border:none;
    text-align:center;
    border-radius:3px;
}
.cancle{
    background-color:grey;
    color:white;
    font-weight:bold;
    border:none;
    text-align:center;
    border-radius:3px;
    width:100px;
    height:34px;
}
.propertiesData{
    width:300px;
    height:200px;
    border:1px solid white;
    border-radius:5px;
    overflow-y: scroll;
}
.post{
    display:flex;
    flex-direction:column;
}