.navbar2{
    height:100px;
    width:100%;
}
.navbar1{
    display:flex;
    flex-direction:row;
    gap:300px;
    background-color:rgb(53, 53, 53);
    box-shadow:1px 1px 2px 2px rgb(245, 245, 245);
    height:70px;
    color:white;
    position:fixed;
    width:100%;
}
   .navbar nav {
    display:flex;
    flex-direction:row;
    gap:30px;
    /* background-color:rgb(255, 255, 255); */
    color:rgb(255, 255, 255);
    /* box-shadow: 1px 1px 2px 2px  rgb(155, 155, 154); */
    cursor:pointer;
    margin-left:30px;
    justify-content: flex-start;
    align-content: center;
    text-decoration:none;
}
 .nav-link{
    padding-top:1.3em;
    transition: all 0.3s ease;
    text-decoration: none;
    color:rgb(230, 9, 9);
}
.active-link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding-top:1.3em;
}

.navbar .sbtn.active{
    border-bottom:1px solid red;
}
.favmes{
    display:flex;
    flex-direction:row;
    gap:50px;
    
    font-size:16px;
    cursor:pointer;
}
.favmes button{
    border:none;
    background:none;
    margin:0;
    padding:0;
}
/* filter */
.options{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin:10px 25px;
    
}
.searchbtn{
    background-color:rgb(226, 3, 96);
    border:none;
    width:100px;
    border-radius:5px;
    color:white;
    display:flex;
    align-items:center;
    
}
.searchbtn:hover{
    background-color:rgb(241, 3, 102);
}
/* .selecttype{
    display:flex;
    gap:2px;
} */
.savesearch{
    display:flex;
    flex-direction:row;
    margin-top:7px;
}
.sidebar{
    width:300px;
    box-shadow: 1px 1px 1px 1px  rgb(151, 151, 151);
    margin-left:22px;
    height:400px;
}
.propertytype{
    margin-top:10px;
    margin-left:15px;
   
}
.ptype{
    display:flex;
    flex-direction:row;
    gap:50px;
}
.type{
    margin-left:15px;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.sideandmap{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.Provdash nav{
    display:flex;
    flex-direction:column;
    text-decoration:none;
}
.Provdash{
    background-color:rgb(59, 59, 59);
    width:10rem;
    height:35.3em;
    color:rgb(34, 33, 33);
    /* position:fixed; */
}
.prov{
    color: rgb(248, 244, 244);
    height:24px;
    text-decoration: none;
    padding:2.5em 3em;
    width:7em;
    transition: all 0.3s ease;
    
}
.Provider{
    display:flex;
    flex-direction:row;
    gap:2em;
}
.navigate{
    display:flex;
    flex-direction:row;
    gap:2em;
}
.Property-form{
    display:grid;
    grid-template-columns:repeat(2,300px);
    padding:3px;
    border-radius:5px;
    margin-top:40px;
    
    gap:8px;
    height:500px;
    background-color:rgb(34, 33, 33);
}
.form-group{
    display:flex;
    flex-direction:column;
    padding:0 2px;
}
.form-group input,
.form-group select{
    height:40px;
    border:1px solid #ddd;
    border-radius:4px;
    font-size:15px;
    padding:0 5px;
}
.full-width{
    grid-column:1 / 3;
}
.text{
    resize:none;
    padding:2px 5px;
}
/* .imageSession{
    width:20rem;
    height:300px;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-size: 14px;
    border-radius:5px;
}
.uploadBtn{
    border:none;
    width:100px;
    height:30px;
    background:#e32a71;
    color:white;
    text-align:center;
    border-radius:5px;
} */
.submit{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:15px;
    grid-column: 2/3;
}
.submit1{
    width:100px;
    height:34px;
    background-color:rgb(50, 50, 235);
    color:white;
    font-weight:bold;
    border:none;
    text-align:center;
    border-radius:3px;
}
.cancle{
    background-color:grey;
    color:white;
    font-weight:bold;
    border:none;
    text-align:center;
    border-radius:3px;
    width:100px;
    height:34px;
}
.propertiesData{
    width:300px;
    height:200px;
    border:1px solid white;
    border-radius:5px;
    overflow-y: scroll;
}
.post{
    display:flex;
    flex-direction:column;
}
.form{
    background-color:white;
}
.searchBtn{
    border:none;
    width:100px;
    height:40px;
    background:#e32a71;
    color:white;
    text-align:center;
    border-radius:2px;
    margin-left:5px;
}
.main_div{
    background-image: url("/tokyotower.png");
    background-repeat:no-repeat;
    background-position:center;
    height:350px;
    background-size:cover;
    position:relative;
    
}
.main_div::before{
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.45);

    border-radius: inherit;
}
.main_div>*{
    position:relative;
}

/* signup_css */
.twobtn .signupbtn{
   background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 8px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border:1px solid black;
    width:200px;
    color:black;
}
.twobtn .signupbtn:hover{
    border-bottom: 3px solid #2563EB;

}
.twobtn .cabtn{
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 8px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width:200px;
    border:1px solid black;
    color:black;
}
.twobtn .cabtn:hover{
    border-bottom:3px solid #25eb6e;
}
.twobtn{
    display:flex;
    flex-direction:row;
    gap:280px;
    justify-content: center;
    
}
.twoopt{
    position:absolute;
    margin-left: 30rem;
    background-color: rgb(255, 255, 255);
    height:35rem;
    width:800px;
    padding-top:10px;
    /* border:1px solid grey; */
}
.background img{
    width:74.5rem;
    height:35rem;
    position:relative;
    opacity: 50%;

}
.desi{
    display:flex;
    flex-direction:row;
    gap:100px;
}
.option{
    display:flex;
    flex-direction:row;
    gap:80px;
    margin-top:35px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.seeker{
    background-color: #c8f3f7;
    height:200px;
    width:300px;
    border-radius:10px;
    align-self: center;
    text-align: center;
    cursor:pointer;
}
.seeker:hover{
    border:1px solid grey;
}
.seeker.active{
    border:1px solid blue;
}
.checkicon{
    margin-left:250px;
    position: absolute;
  margin-top:5px;
  /* left:10px;
  right: 14px; */

  width: 28px;
  height: 28px; 

  border-radius: 50%;
  border: 2px solid #cbd5e1;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  color: transparent; /* Hide checkmark */
  transition: all .25s ease;
}
.checkicon.checked{
    background-color:#2563eb;
    border-color:#2563eb;
    color:white;
}
.provider{
    background-color:#bfffda;
    height:200px;
    width:300px;
    border-radius:10px;
    align-self: center;
    text-align: center;
    cursor:pointer;
}
.provider:hover{
    border:1px solid grey;
}
.provider.active{
    border:1px solid blue;
}
.provider *{
    pointer-events:none;
}
/* iconedit */
.icon1{
     width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #48D9F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top:12px;
}
.icon2{
     width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #48f891;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-left: 40%;
    margin-top:12px;
}
.divider{
    display:flex;
    align-items:center;
    gap:15px;
    margin:20px 0;
}

.line{
    flex:1;
    height:1px;
    background:#E5E7EB;
}

.divider span{
    color:#888;
    font-size:14px;
}
.gbtn1,.gbtn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:10px 20px;
    gap:10px;
    font-size:14px;
    white-space: nowrap;
    background-color:white;
    border-radius: 10px;
    border:1px solid rgb(163, 161, 161);
    transition: all 0.2s ease-in;
    width:310px;
    color:black;
}
.gbtn1:hover{
    background-color:#e30404;
    border:none;
    color:white;
}
.gbtn2:hover{
    background-color:#1877F2;
    border:none;
    color:white;
}
/* otheropt */
.otheropt{
    display:flex;
    flex-direction: row;
    gap:60px;
    justify-content: center;
}
.formdata{
    display:flex;
    flex-direction:column;
    gap:9px;
    width:300px;
    margin-left:8%;
}
.formdata input{
    width:300px;
    padding:10px 20px;
    border-radius:5px;
}
.signbtn{
    width:200px;
    height:30px;
    background-color:#1877F2;
    border:none;
    color:white;
    font-weight: bold;
    border-radius: 5px;
}
/* imageupload */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 15px;
    
}

.photo-item {
    position: relative;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
/* signup_css */
.success-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.success-modal {
    width: 360px;
    padding: 35px 25px;

    background: white;
    border-radius: 20px;

    text-align: center;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.success-icon {
    width: 65px;
    height: 65px;

    margin: 0 auto 15px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #1976d2;
    color: white;

    font-size: 35px;
    font-weight: bold;
}

.success-modal h2 {
    margin-bottom: 10px;
    color:rgb(175, 175, 175);
}

.success-modal p {
    color: #555;
}

.success-small {
    font-size: 13px;
    color: #0b0b0b !important;
}
/* login_session */
.login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login-form .MuiOutlinedInput-root {
    height: 42px;
    background-color: #fff !important;
    border-radius: 5px;
}

.login-form .MuiOutlinedInput-input {
    background-color: transparent !important;
    font-size: 14px;
}

.login-form .MuiFormHelperText-root {
    font-size: 12px;
    
}

.login-submit-btn {
    width: 300px;
    height: 38px;
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    background: #1976d2;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
/* login_session */